# Import library

In [48]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

# Read files

In [49]:
storebranch = pd.read_csv('data/storebranch.csv')
shoppers = pd.read_csv('data/shoppers.csv')
orders = pd.read_csv('data/orders.csv')
order_product = pd.read_csv('data/order_product.csv')

In [50]:
orders.head()

,order_id,lat,lng,dow,promised_time,actual_time,on_demand,picker_id,driver_id,store_branch_id,total_minutes
0,6abd5e28d01b7c733fe37485294235dc,18.221141,-100.313914,2,13:00:00,12:00:15,False,09bb5bfe76adbb474dddbdd111a51623,09bb5bfe76adbb474dddbdd111a51623,0dc6fb5924a8b917bc641666ed02663c,91.800861
1,0d37a1eea001f01b40232ffd496ff663,18.177712,-100.357051,2,13:00:00,10:28:10,False,c4c722114a82fa21654e57e9636d68b0,c4c722114a82fa21654e57e9636d68b0,2bbf833e689d24b697f1f3529c3f3c4b,206.599732
2,528428e9b9eb5d3bd0dbdd8da692b087,18.266832,-100.317553,2,11:00:00,10:40:50,False,e15c7a67d0ea9a54dffb410bc1d8528b,e15c7a67d0ea9a54dffb410bc1d8528b,8d891dfc0e29d744c15c18adced74a68,93.458001
3,d3f7be6d64eae7405b7bf024e04807a2,18.248884,-100.322622,2,10:00:00,09:41:47,False,d1f0bd4b237c1358f09db22076b940e7,d1f0bd4b237c1358f09db22076b940e7,0dc6fb5924a8b917bc641666ed02663c,124.778761
4,e0ad6533b6cd9a382ec6c1d473c5036c,18.229110,-100.322672,2,11:00:00,10:07:53,False,06a71e8ab0c6db5ce22a4689fd76a3f4,06a71e8ab0c6db5ce22a4689fd76a3f4,afd0a7b8d546fcc697bb93a5934b65c3,130.321208

In [51]:
orders.isnull().sum()

order_id             0
lat                  0
lng                  0
dow                  0
promised_time        0
actual_time          0
on_demand            0
picker_id            0
driver_id            0
store_branch_id      0
total_minutes      752
dtype: int64

In [52]:
orders.total_minutes = orders.total_minutes.fillna(0)

In [53]:
orders.total_minutes.isnull().sum()

0

In [54]:
orders[['hours','minutes','seconds']]=pd.to_timedelta(orders.total_minutes, unit='m').dt.components.drop(['days','milliseconds', 'microseconds','nanoseconds'],axis=1)

In [55]:
orders['timedelta']=pd.to_timedelta(orders.total_minutes, unit='m')

In [56]:
orders.head()

,order_id,lat,lng,dow,promised_time,actual_time,on_demand,picker_id,driver_id,store_branch_id,total_minutes,hours,minutes,seconds,timedelta
0,6abd5e28d01b7c733fe37485294235dc,18.221141,-100.313914,2,13:00:00,12:00:15,False,09bb5bfe76adbb474dddbdd111a51623,09bb5bfe76adbb474dddbdd111a51623,0dc6fb5924a8b917bc641666ed02663c,91.800861,1,31,48,0 days 01:31:48.051660
1,0d37a1eea001f01b40232ffd496ff663,18.177712,-100.357051,2,13:00:00,10:28:10,False,c4c722114a82fa21654e57e9636d68b0,c4c722114a82fa21654e57e9636d68b0,2bbf833e689d24b697f1f3529c3f3c4b,206.599732,3,26,35,0 days 03:26:35.983920
2,528428e9b9eb5d3bd0dbdd8da692b087,18.266832,-100.317553,2,11:00:00,10:40:50,False,e15c7a67d0ea9a54dffb410bc1d8528b,e15c7a67d0ea9a54dffb410bc1d8528b,8d891dfc0e29d744c15c18adced74a68,93.458001,1,33,27,0 days 01:33:27.480060
3,d3f7be6d64eae7405b7bf024e04807a2,18.248884,-100.322622,2,10:00:00,09:41:47,False,d1f0bd4b237c1358f09db22076b940e7,d1f0bd4b237c1358f09db22076b940e7,0dc6fb5924a8b917bc641666ed02663c,124.778761,2,4,46,0 days 02:04:46.725660
4,e0ad6533b6cd9a382ec6c1d473c5036c,18.229110,-100.322672,2,11:00:00,10:07:53,False,06a71e8ab0c6db5ce22a4689fd76a3f4,06a71e8ab0c6db5ce22a4689fd76a3f4,afd0a7b8d546fcc697bb93a5934b65c3,130.321208,2,10,19,0 days 02:10:19.272480